In [15]:
import os
import pandas as pd
import numpy as np

In [3]:
DATA_FILE = os.path.join("data", "netflix_titles.csv")

## First DataFrame!

In [4]:
df = pd.read_csv(DATA_FILE)

df.head()
# df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [5]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [7]:
df.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [8]:
df.shape

(6234, 12)

In [10]:
df.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [11]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [14]:
df.type.value_counts()

Movie      4265
TV Show    1969
Name: type, dtype: int64

### Series : Similar to numpy arrays

In [16]:
a = np.random.randint(0, 10, size=(5))
a

array([1, 7, 3, 8, 0])

In [17]:
s = pd.Series(a)
s

0    1
1    7
2    3
3    8
4    0
dtype: int64

In [27]:
labels = ['a', 'b', 'c', 'd', 'e']
a = np.random.randint(0, 10, size=(5))

s = pd.Series(a, index=labels)
s

a    3
b    2
c    3
d    6
e    1
dtype: int64

In [28]:
print("Both are same: {} {}".format(s[0], s['a']))

Both are same: 3 3

### What if index is repeating?

In [34]:
labels = ['a', 'b', 'c', 'a', 'a']
a = np.random.randint(0, 10, size=(5))

s = pd.Series(a, index=labels)
s

a    5
b    9
c    7
a    3
a    6
dtype: int64

In [33]:
print("s[0]:\n{}\n\ns['a']:\n{}\nTypes: s[0]: {} s['a']: {}".format(s[0], s['a'], type(s[0]), type(s['a'])))

s[0]:
3

s['a']:
a    3
a    3
a    2
dtype: int64
Types: s[0]: <class 'numpy.int64'> s['a']: <class 'pandas.core.series.Series'>